<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793868896092-jjrocf9gv1kg4o3jig81an4eqvpg8bcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793868896092-jjrocf9gv1kg4o3jig81an4eqvpg8bcv</string>
	<key>API_KEY</key>
	<string>AIzaSyC7uvcS719zl62j0gHKjJB1XAUSrXmjkbw</string>
	<key>GCM_SENDER_ID</key>
	<string>793868896092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasepractical</string>
	<key>PROJECT_ID</key>
	<string>fir-prac-e1ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-prac-e1ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793868896092:ios:1359c0614b24e3dee32399</string>
</dict>
</plist>